.car-filter {
  position: absolute; /* Или используйте fixed, если хотите, чтобы он оставался на месте при прокрутке */
  top: 236.5px; /* Установите нужное значение для вертикального позиционирования */
  left: 53%; /* Центрируем по горизонтали */
  transform: translateX(-50%); /* Сдвигаем элемент влево на 50% его ширины для центрирования */
  margin-bottom: 20px; /* Отступ снизу */
  display: flex;
  color: #fc3939;
  justify-content: center; 
  z-index: 1000; /* Убедитесь, что элемент находится поверх других */
}

.car-filter input {
  padding: 9.5px;
  width: 100%;
  border: 2px solid red; /* Установите ширину рамки */
  border-radius: 7px;
  color: #fc3939;
  max-width: 300px;
}

.searchBut {
  background: transparent; /* Прозрачный фон */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Курсор в виде указателя */
  color: #fc3939; /* Цвет иконки */
  margin-left: -40px; /* Убираем отступ между кнопкой и полем ввода */
  margin-top: 4px; /* Добавляем отступ сверху для смещения кнопки вниз */
  width: 30px; /* Ширина кнопки */
  height: 30px; /* Высота кнопки */
  display: flex; /* Используем flexbox для выравнивания иконки */
  align-items: center; /* Центрируем иконку по вертикали */
  justify-content: center; /* Центрируем иконку по горизонтали */
}

.suggestions-list {
  position: absolute; /* Позиционируем список относительно родительского элемента */
  top: 100%; /* Ставим его под полем ввода */
  left: 50%; /* Центрируем по горизонтали */
  transform: translateX(-50%); /* Сдвигаем элемент влево на 50% его ширины для центрирования */
  background-color: white; /* Фон списка */
  border: 1px solid #ccc; /* Рамка вокруг списка */
  border-radius: 5px; /* Закругленные углы */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень для создания эффекта поднятости */
  z-index: 1000; /* Убедитесь, что список находится поверх других элементов */
  width: 100%; /* Ширина списка равна ширине поля ввода */
  max-height: 200px; /* Максимальная высота списка */
  overflow-y: auto; /* Прокрутка, если список слишком длинный */
}

.suggestions-list li {
  padding: 10px; /* Отступы внутри элементов списка */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  color: #333; /* Цвет текста */
}

.suggestions-list li:hover {
  background-color: #f0f0f0; /* Цвет фона при наведении */
}


@media (max-width: 768px) {
  .car-filter {
      flex-direction: column; /* Изменяем направление на вертикальное */
      align-items: flex-start; /* Выравниваем элементы по левому краю */
      left: 70%; /* Центрируем по горизонтали */
      transform: translateX(-50%); /* Сдвигаем элемент влево на 50% его ширины для центрирования */
  }

  .car-filter input {
      width: 90%; /* Полная ширина для мобильных устройств */
  }

  .searchBut {
      margin-left: 100px; /* Убираем отрицательный отступ */
      margin-top: -35px; /* Убираем отступ сверху */
  }
}
